button {
	text-transform: capitalize;
}

.notice {
	margin: 0 15px 10px 0 !important;
}
#wpbody-content {
	padding-top: 15px;
}

.js-dfi-group {
	padding: 15px 0;
	vertical-align: top;
}

.type-selector {
	vertical-align: top !important;
}

.upload_image_button {
	cursor: pointer;
}

#dfi-save {
	display: block;
	margin: 20px 0 0;
}
